#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

#txt_con {
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: large;
}

#title {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
}